* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


body{
    background-color: #878f99;
    height: 100%;
    width: 100%;
}

header{
    background-color: #a2b9bc;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     position: sticky;
    top: 0;
}

header .logo img{
    height: 60px;
    width: 60px;
    /* margin: 0px 0px; */
    padding: 10px 0px 10px 10px;
    border-radius: 30PX;
}

header .logo img:hover{
    transform: scale(1.5);
}
h3{
    color: brown;
    margin-bottom: 0px;
    padding: 0px 60px;
    margin-right: auto;
    margin-left: 0px;
}
header h3 p{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    margin-top: 0px;
    font-weight: lighter;
}
 nav{
    display: flex;
    gap: 20px;
 }
 nav div{
    margin: 0px 10px;
 }
 nav div a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 nav div a:hover{
    color: #a50815;
    /* font-size: 20px; */
    position: relative;
    /* top: -5px; */
 }

.about {
  padding: 60px 10%;
  background: #f9f9f9;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.about-img img {
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.about-text {
  max-width: 500px;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}
